body{

background-color: rgb(255, 0, 0);
color: black;


}

.capa{
   color: black;
   font-size: black;

}

h1{
    color: rgba(220, 20, 60, 0);
}

#heroi{
    display: flex;
    padding-left: 200px;
}
 .videos{
    display: flex;
    overflow: auto;
    gap: 10px;
 }

 .videos img{
    opacity: 0,5;
    height: 200px;
 }

  .videos img{
     opacity: 1.0;
     border: 3px solid #E50914;

  }
